
@model BugTracker.Controllers.BugViewModel

@{
    ViewBag.Title = "title";
  
}

<style>
    .bugname, .stats {
        font-size: 20pt;
    }
    .closed {
        color: red;
        text-decoration: line-through;
        font-style: italic;
        font-weight: bold;
    }
    ol {
        width: 500px;
        list-style: none;
    }
    li {
        margin-bottom: 10px;
        border: 1px solid gray;
        background-color: #e7e7e7;
        padding: 5px;
        border-radius: 5px;
    }
    .datetime {
        font-style: italic;
    }
</style>
<h1>Bug Tracker</h1>
<hr/>
<section class="stats">
		<span class="closed">@Model.ClosedCount</span>
		<span> / </span>
		<span>@Model.Bugs.Count</span>
	</section>
	<section class="edit">
        <form method="post" action="/bugs/new">
            <label for="">Bug :</label>
            <input type="text" name="bugname" id="txtBug">
            <label>Is Closed ? :</label>
            <input type="checkbox" />
            <input type="submit" value="Add New">
        </form>
	</section>
	<section class="list">
		<ol>
            @foreach(var bug in Model.Bugs){
			<li>
                @if(bug.IsClosed){
                <span class="bugname closed">@bug.Name</span>
                } else {
                <span class="bugname">@bug.Name</span>
                }
				
				<div class="datetime">[CreatedAt]</div>
                <form method="post" action="/bugs/toggle">
                    <input type="hidden" value="@bug.Id" name="Id"/>
                    <input type="submit" value="Toggle"/>
                </form>
			</li>
            }
			
		</ol>
		<input type="button" value="Remove Closed">
	</section>